.dot-flashing {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #1E95DD;
  color: #1E95DD;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}
  
.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #1E95DD;
  color: #1E95DD;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #1E95DD;
  color: #1E95DD;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #1E95DD;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

.dot-loader {
  display: flex;
  margin: 0 0 0 228px;
}

.dot-loader .snippet {
  margin: 9px 0 0 23px;
}

