.chld-drpdwn {
  margin: 7px 0 0 29px;
}

.p-dropdown.p-component.p-inputwrapper.child-drpdwn,
.p-dropdown.p-component.p-inputwrapper.parent-drpdwn {
  width: 163px;
  padding: 2px 8px;
  border: 1px solid #CCCCCC;
  border-radius: 0px !important;
}
.prfred-cnt {
  display: inline-grid;
  font-weight: 600;
}
