.contact-admin {
  border-top: 1px solid $grey4;
  border-bottom: 1px solid $grey4;
  margin-top: 1rem;
  padding: 1rem 0;
  vertical-align: middle;

  .icon {
    color: $comprehendBlue;
    font-size: 3.2rem;
    padding: 0 1rem;
  }

  .text {
    white-space: normal;
  }
}
