.data-access-groups-management-container {
  padding: 2rem 0 2rem 3rem;
  display: inline-block;
  margin-left: 10rem;
  width: calc(100% - 13rem);
}

.data-access-group-management-buttons {
  padding-top: 2rem;
  float: left;
}

.data-access-groups-management-email {
  font-size: 12px;
}
