.mobile-tabular-report-widget {

  .row-detail {
    padding-top: 2.4rem;
  }

  .mobile-tabular-report-widget-row-detail-header-line {
    @include span(24);
    font-size: 2.2rem;
    padding-bottom: 0.8rem;
    margin-bottom: 1rem;

    &.light {
      font-size: 1.8rem;
      border-bottom: .2rem solid $black;
      text-transform: uppercase;
      font-weight: bold;
      @include span(24);
      margin-bottom: 2rem;
    }
  }

  .mobile-tabular-report-widget-row-detail-bottom {
    height: .1rem;
    border-bottom: .2rem solid $grey3;
  }
}
