.ract {
  .addNewStudyContainer {
    width: 100%;
    height: 80rem;
    .studyInfo {
      display: flex;
      padding: 10px 0;
      align-items: center;

      .calendar-wrapper {
        .rdt {
          input {
            width: 250px;
            height: 37.5px;
            border: 1px solid #ccc;
          }
        }

        rdt:before {
          top: 0.8rem;
        }
      }

      .studyInfoLabel {
        min-width: 200px;
        font-weight: 600;
      }

      > input {
        border: 1px solid #ccc;
        width: 250px;
        height: 37.5px;
      }

      .ractTemplateDiv {
        width: 250px;
      }

      .new-study-errors {
        padding-left: 10px;
        color: red;
      }
    }

    button {
      height: 38px;
      position: relative;
      left: 395px;
    }
  }

  .assignRactContainer {
    .selectionContainer {
      display: flex;

      .studyDropdownSection, .templateDropdownSection {
        min-width: 250px;
        padding-right: 20px;

        .assign-study-errors, .assign-template-errors {
          color: red;
        }
      }

      button {
        height: 38px;
        position: relative;
        top: 56px;
      }
    }
  }

  .ract-scorecard-ribbon {
    display: flex;
    justify-content: space-between;

    .ribbon-filters {
      display: flex;
      justify-content: flex-start;
      flex: 2;
      flex-flow: row wrap;

      .popover {
        background: white;
        border-radius: 4px;
        width: 300px;
        z-index: $popover-z-index;
        position: absolute;
        top: 100%;
        display: flex;
        margin: 5px;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        hr {
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #ccc;
          margin: 0.5em 2em 0.5em 2em;
          padding: 0;
        }

        .popover-controls {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 10px 8px 5px 8px;
          font-weight: bold;
          color: $blue5;
        }
      }

      .popover-wrapper {
        width: 80%;
        min-width: 150px;
        margin-left: 10px;

        .popover-header {
          display: flex;
          justify-content: space-between;
          padding: 8px 0px 8px 8px;
          width: 100%;
          border: 1px solid;
          border-radius: 0.5rem;
          border-color: #d9d9d9 #ccc #b3b3b3;
          @include clickable;
        }

        .popover-container {
          position: relative;
        }
      }
    }

    .ribbon-buttons {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      flex-flow: row wrap;
      align-items: center;
      height: 38px;

      .btn {
        margin-bottom: 10px;
      }
    }

    .ract-scorecard-toggle-view {
      margin-left: 10px;
    }
  }

  .ract-scorecard-tabular-view {
    table {
      table-layout: fixed;
      border-collapse: collapse;

      thead {
        tr {
          display: block;
          position: relative;
          border: 0;
          border-radius: .5rem .5rem 0 0;
          text-align: center;
          font-weight: bold;
        }

        th {
          background: $blue1;
          color: $white;
        }
      }

      tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 55rem;
      }

      @mixin fixed_column_width($width) {
        width: $width;
        max-width: $width;
        min-width: $width;
      }

      td, th {
        /* Needed to align fixed header cells with body*/
        @include fixed_column_width(20rem);

        &.small-header-cell {
          @include fixed_column_width(15rem);
        }

        &.large-header-cell {
          @include fixed_column_width(25rem);
        }

        &.header-site-id, &.site-id {
          @include fixed_column_width(20rem);
        }

        &.header-study-id, &.study-id {
          @include fixed_column_width(20rem);
        }

        &.header-study-name, &.study-name,
        &.header-site-name, &.site-name {
          @include fixed_column_width(30rem);
        }

        &.header-overall-score, &.ract-scorecard-tableview-score {
          @include fixed_column_width(15rem);
        }
      }

      td, th {
        height: 4rem;
        text-align: center;
        border: 1px solid $white;
        padding: 0 1rem 0 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;

        &, div, span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .invalid-metric-value {
      display: none;
    }

    .ract-scorecard-table-body {
      tr:nth-child(odd) td {
        background-color: $white;
      }

      tr:nth-child(even) td {
        background-color: $grey4;
      }
    }

    .grouped-scores {
      color: $white;
      background-color: $blue5;
      text-align: left;
      padding: .5rem 0 .5rem 1rem;
    }
  }

  .ract-scorecard-grid-view {
    overflow: visible;
  }

  .ract-scorecard-tabular-view {
    overflow: auto;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* To fix a double scrollbar bug in IE:
    vertical scrollbar drawn inside container causes an horizontal overflow
    resulting in a second horizontal scrollbar */
    .ract-scorecard-tabular-view tbody {
      padding-right: 20px;
    }
  }

  .section-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-bottom: $subHeaderUnderline;
    line-height: 2.5rem;
    color: $black;
    font-size: 2.1rem;
    font-weight: bold;
  }

  .ract-scorecard-ribbon-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;

    .ract-scorecard-dropdown-sort {
      width: 85%;
    }
  }

  .ract-scorecard-ribbon {
    margin: 2rem 0;

    .spinner-container {
      padding-top: 1rem;
      width: 2rem;

      .icon-spinner {
        color: $blue5;
      }
    }
  }

  .ribbon-filter-label {
    font-weight: bold;
  }

  .ract-scorecard-scorecard, .ract-scorecard-sort, .ract-scorecard-group {
    display: flex;
    justify-content: space-between;
    min-width: 340px;
    margin-bottom: 10px;
  }

  .ract-scorecard-dropdown-group {
    width: 80%;
  }

  .ribbon-filter-dropdown {
    width: 80%;
    min-width: 150px;
    margin-left: 10px;

    .Select-menu-outer {
      left: 0;
      max-height: none;

      .Select-menu {
        max-height: none;
      }
    }
  }

  .view-toggle {
    float: right;
    font-size: 24px;
    border: 1px solid;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    transition: background-color 0.3s;

    &:hover:not(.active) {
      cursor: pointer;
      background-color: #ddd;
      opacity: 0.7;
    }

    &.active {
      background-color: #ddd;
    }
  }

  .grid-view-button {
    border-radius: 5px 0 0 5px;
  }

  .tabular-view-button {
    border-radius: 0 5px 5px 0;
  }
}

.ract.rc-tooltip {
  opacity: 1.0 !important;
  z-index: $ract-scorecard-rc-tooltip;
}

.ract-tooltip {
  margin: 0 $main-content-padding 0 #{$main-content-left-pad + 2rem};

  .rc-tooltip-inner {
    background-color: $white;
    color: $black;
    box-shadow: 0 0 2rem 0 $grey3;
  }

  .mitigationTooltipContainer {
    .riskMitigationLabel {
      font-size: 1.6rem;
      font-weight: bold;
    }

    .riskMitigationDetails {
      display: flex;
      font-size: 1.6rem;

      .riskMitigationTitle {
        width: 36rem;
      }

      .riskMitigationCount, .riskMitigationCountTotal {
        width: 2rem;
        text-align: right;
        color: #908585;
      }
    }
  }

  .totalRiskScoreContainer {
    .totalRiskScoreLabel {
      display: flex;
      padding-top: 1.5rem;
      font-size: 1.6rem;
      font-weight: bold;

      .tooltipScoreCount {
        padding-left: 2rem;
      }
    }

    .totalRiskScoreDesc {
      font-size: 1.4rem;
    }
  }

  .categoryRiskContainer {
    margin-top: 1rem;

    .tooltipLabel {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  .ract-score-tooltip {
    min-width: 30rem;
    max-width: 30rem;

    .entity-name {
      line-height: 2.5rem;
      color: $black;
      font-size: 2.1rem;
      font-weight: bold;
    }

    .score-categories {
      display: flex;
      padding-top: 0.7rem;

      .category-column {
        flex: 1;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center
      }
    }

    .missing-metrics-title {
      color: $grey2;
      font-size: 1.6rem;
      font-weight: bold;
    }

    .missing-metrics {
      color: $grey2;
      font-size: 1.3rem;
    }
  }

  .metric-score-tooltip {
    .metric-title {
      font-size: 1.8rem;
      font-weight: bold;

      .metric-header-notification-message {
        font-size: 1.4rem;
        color: $red;
      }
    }

    .drilldowns {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 1em;

      a {
        line-height: 1.6em;
        text-decoration: underline;
        color: $hyperlinkBlue;
        margin-left: 0.4em;
      }
    }

    .more-information {
      .collapsible-text {
        width: 30rem;

        .title {
          cursor: pointer;
          font-size: 1.4rem;
          font-weight: bold;
          color: $blue4;

          .icon-accordion-down {
            margin-top: 0.4rem;

            &.rotate-arrow-up {
              transform: translate(0, -0.4rem) rotate(180deg);
            }
          }
        }

        .content {
          .metric-title {
            font-weight: bold;
            font-size: 1.4rem;
          }

          .metric-legend {
            display: flex;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;

            .legend-color {
              margin-right: 0.2rem;
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }

    span {
      font-size: 1.4rem;
    }
  }

  .entity-info-tooltip {
    .info-header {
      display: flex;
      flex-direction: row;
    }

    .entity-name {
      flex-grow: 1;
      line-height: 2.5rem;
      color: $black;
      font-size: 2.1rem;
      font-weight: bold;
      padding-bottom: 2rem;
    }

    .entity-details {
      color: $black;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;

      .tooltip-field {
        display: flex;
      }

      .tooltip-label {
        font-size: 1.4rem;
        color: $grey2;
        font-weight: bold;
        padding-right: 0.5rem;
      }

      .tooltip-value {
        max-width: 30rem;
        color: $black;
        word-break: break-word;
      }
    }

    .drilldown-view-study-sites {
      text-align: right;
      font-size: 1.4rem;
      color: $blue5;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $blue4;
        font-weight: bold;
      }
    }
  }
}

.ract .ract-scorecard-card {
  width: 40rem;
  background: #fff;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  border: 1px solid #ccc;
}

.ract-scorecard-card-chart {
  float: left;
  width: 8rem;
  height: 8rem;
}

.ract-scorecard-card-overview {
  position: relative;
  display: flex;
}

.ract-scorecard-card-entity-contents {
  width: 100%;

  .ract-scorecard-card-entity-info {
    display: inline-block;
    width: 100%;
  }

  .ract-scorecard-card-entity-header {
    display: inline-block;
    @include span(24);

    .ract-scorecard-card-entity-name {
      @include span(18 of 24);
      padding-bottom: 1rem;

      .ract-scorecard-card-entity-name-span {
        @include clickable;
        font-weight: bold;
        font-size: medium;

        color: $blue5;

        &:hover {
          color: $blue7;
        }
      }
    }
  }

  .ract-scorecard-card-entity-metadata {
    padding-right: 2.5rem;

    .ract-scorecard-details {
      display: flex;
      justify-content: left;
      align-items: center;
      line-height: 20px;
      text-transform: capitalize;

      .ract-value {
       white-space: nowrap;
        overflow: hidden;
         text-overflow: ellipsis;
         width: 150px;
      }

      .ract-label{
        width: 150px;
      }

      .draft {
        color: #DD841D;
        font-weight: bold;
      }
    }
  }
}

.ract-scorecard-card-entity-actions {
  width: 125px;
  display: grid;
  justify-content: end;

  .ract-scorecard-card-mitigation-status {
    height: 30px;
    width: 5.5rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    color: #0092c8;
    float: right;
  }

  .ract-scorecard-card-score-display {
    height: 50px;
    margin: 0px;
  }

  .ract-scorecard-card-show-details {
    font-size: 13px;
    color: #0092c8;
    font-weight: 600;
  }
}

.ract .ract-scorecard-card-accordion {
  @include clickable;
  width: 2rem;
  font-size: large;
  position: relative;
  margin: 0;
  left: 0.5rem;
  top: 0.3rem;
  display: inline-block;

  &.icon-accordion-down {
    &.rotate-arrow-up {
      transform: rotate(180deg);
    }
  }
}

.ract .ract-scorecard-card-show-details {
  color: #1e77b3;
  font-weight: 600;
  cursor: pointer;
}


.ract-scorecard-card-scores-breakdown {
  clear: both;
  padding-top: 2rem;
  width: 100%;
  transition: visibility 0.1s 0.3s;

  &.minimized {
    display: none;
    visibility: hidden;
  }

  &:not(.minimized) {
    display: flex;
    flex-wrap: wrap;
  }
}

.ract-scorecard-card-details-kpi-info {
  width: 49%;
  display: flex;
  margin-bottom: 1rem;

  .low {
    background-color: #48CC00;
  }

  .medium {
    background-color: #CF9F00;
  }

  .high {
    background-color: #D90700;
  }

  .riskDisabled {
    background-color: #888888;
  }
}

.ract-scorecard-kpi-link,
.ract-scorecard-drilldown-link a {
  @include clickable;
  color: $blue5;

  &:hover {
    color: $blue7;
  }
}

.ract-scorecard-scorebox {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  margin-top: 0.1rem;
  margin-right: 1rem;
}

.ract-scorecard-kpi-score {
  height: 5rem;
  width: 5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}

.ract-scorecard-grid-contents {
  display: flex;
  flex-wrap: wrap;
}

.ract .ract-scorecard-grid-grouped-contents {
  width: 100%;
}

// Score card overall score for the grid view
.ract .ract-scorecard-card-score {
  position: absolute;
  left: 32rem;
  top: 4rem;
  border: 3px solid;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  text-align: center;
  padding-top: 1.4rem;
  font-weight: bold;
  border-radius: 2.5rem;
  margin-top: 0rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  z-index: 1;

  .ract-scorecard-card-score-text {
    color: black;
  }

  &.low {
    color: #48CC00;
  }

  &.medium {
    color: #CF9F00;
  }

  &.high {
    color: #D90700;
  }

  &.riskDisabled {
    color: #888888;
  }
}

// Score card overall score for the table view
.ract-scorecard-tableview-score {
  font-size: 1.8rem;
  font-weight: bold;
}

.ract-scorecard-histogram {
  margin: 0px 1.5rem;
}

.oversight-missing-score-indicator {
  padding-left: 1.2rem;
}


.ract-scorecard-configure-metrics-mode {
  text-transform: uppercase;
  float: right;
  color: $hyperlinkBlue;
  cursor: pointer;
  padding-left: 1.5rem;
  font-size: 1.4rem;
  padding-top: 0.2rem;

  &:hover {
    text-decoration: underline;
  }
}

.infinite-scroll {
  height: 11rem !important;
  width: 11rem !important;
  margin-left: auto;
  margin-right: auto;
}

.grid-view-prev-page, .grid-view-next-page {
  float: right;
  padding: 1rem;
  border: 1px solid;
  margin: 1rem;
  transition: background-color 0.3s;
  font-weight: bold;

  &:hover:not(.active) {
    cursor: pointer;
    background-color: #ddd;
    opacity: 0.7;
  }
}

.ract-scorecard-filters {
  .filter-element {
    position: relative;

    &.range {
      display: flex;
      justify-content: space-between;

      input {
        border-color: $gray20;
        width: 8em;
      }
    }

    .arrow-hidden {
      .Select-arrow {
        display: none;
      }
    }

    .icon-spinner {
      position: absolute;
      right: 0.6em;
      top: 0.7em;
      color: $disabledGray;
    }
  }
}

.ract-scorecard-card-score-display .oversight-scorecard-histogram {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 0rem !important;
}

.assignRactContainer {
  .content-placeholder {
    background-color: #fafafa;
    width: 100%;
    height: 100% !important;
    margin-top: 2rem;
    margin-bottom: 4rem;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.addNewStudyContainer {
  .content-placeholder {
    background-color: #fafafa;
    width: 100%;
    height: 100% !important;
    margin-top: 2rem;
    margin-bottom: 4rem;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.ract-scorecard-content {
  .close-button {
    cursor: pointer;
    font-size: 3rem;
    @include clickable;
  }
}

.ract-study-filter {
  min-height: 58rem;
}

.ractTemplateConfiguration {
  .createRactTemplateContainer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ractTemplateTitle {
      font-size: 22px;
      width: 200px;
    }
  }
  .ractTemplateTableContainer {
    .ractTemplateTable {
      width: 100%;
      thead {
        background: #f7f7f7;
        tr {
          th {
            height: 40px;
            border-bottom: 1px solid #d3d3d3;
            padding-left: 2rem;
            font-size: 1.4rem;
            display: table-cell;
            vertical-align: middle;
            white-space: nowrap;
          }
        }
      }
      tbody {
        tr {
          td {
            padding-left: 2rem;
            height: 40px;
            border-bottom: 1px solid #cccccc;
            &:last-child {
              width: 25%;
            }
            .fieldDisabled{
              pointer-events: none;
              display:inline-block;
              color: #ccc;
            }
          }
        }
      }
    }
    &:last-child {
      a {
        padding-right: 25px;
        color: #1d96dd;
        cursor: pointer;
      }
    }
  }
}

.ract-category-tooltip.rc-tooltip {
  opacity: 1.0 !important;
  z-index: 5;
}

.ract-category-tooltip {
  margin: 0 3rem 0 11rem;
}

.ract-category-tooltip .rc-tooltip-inner {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 2rem 0 #cbcbcb;
}

.ract-category-tooltip-content{
  display: flex;
  flex-direction: column;
}

.ract-category-tooltip-title{
  line-height: 1.6em;
  text-decoration: underline;
  color: #1e77b3;
  margin-left: 0.4em;
  font-size: 1.4rem;
  cursor: pointer;
}

.ract-category-tooltip-title > i {
  margin: 5px;
}

.icon-file.ract-version-details {
  padding-left: 5px;
  cursor: pointer;
}
