.exposure {
  .react-autosuggest__suggestions-container {
    z-index: $dropdown-open-z-index;
    position: absolute;
    color: $bodyText;
    border: 0.1rem solid $gray15;
    border-radius: $standard-corner-radius;
    background: $white;

    ul {
      padding: 0;
      margin: 0;

      li {
        line-height: 2rem;
        padding: 0.5rem 1rem;

        &.react-autosuggest__suggestion--highlighted {
          background-color: $gray15;
        }
      }
    }
  }
}
