.report-widget {

  .report-title {
    display: block;
    border-bottom: $subHeaderUnderline;
    color: $black;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  .report-widget-body {
    display: block;

    .highchart {
      width: 100%;
      margin-top: 2.5rem;
      overflow: hidden;

      .drilldown-tooltip-title {
        color: $tooltip-heading-text-color;
        font-weight: $semibold;
      }

      .associated-file-link {
        @include clickable;
        padding: .6rem;  // This was from manual tinkering to visually match the design specification.

        &:hover {
          background-color: $tooltip-drilldown-item-hover-color;
        }
      }
    }
  }
}
