#widget-context-filter .widget-filter-container .flexSection{
  display:flex;
  width:100%;
  border-radius: 5px;
  background: #F0F2F6;
  border: 1px solid #E7E8EA;  
  padding:5px;
  padding-bottom: 7px !important;
}

.boxSection{
  margin:1rem;
  width:33%;
}
.spanHeader{
  font-size: 17px !important
}

.itemNameSelect {
padding: 2px;
}

.itemNameSelect .Select-menu-outer {
  z-index: 1000;
  //position:relative;
}
.Select-menu-outer .Select-option{
  font-size: 14px !important;
  font-weight: normal !important;
}
.p-focus{
  border: 1px solid #292E34!important;
  box-shadow: none !important;
}
.flexSection .boxSection .Select-menu-outer{
  border: 0px !important;
  box-shadow: -4px 6px 12px #0000001A;
}
